<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
    <listener class-name="Utilities.ExtentReportManager"/>
</listeners>
  
  
  <test thread-count="5" name="Test">
   
   
     <parameter name="os" value="Linux"/>
    <parameter name="browser" value="chrome"/> 
   
   
    <classes>
      <class name="TestCases.TC_01registeration"/>
      <class name="TestCases.TC_06EndtoEnd"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
	